extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content
        .content-body
            .success-text
                p TarmoAPI is running!
            .description 
                p REST API only, no UIs...
